body{
    padding: 0;
    margin: 0;
}

/* BARRA DE NAVEGAÇÃO */
.barra-navegacao{
    background-color: black;
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    transition: transform .3s;
    margin-left: 50px;
}

.logo:hover{
    transform: scale(1.1);
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 50px;
}
.menu li a{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: block;
    padding: 10px;
    margin: 0 20px;
    color: #ffffff;
    text-decoration: none;
}

.menu img{
    display: flex;
    width: 30px;
    position: absolute;
    margin: 0 -5px;
    padding: 0;
}

/* LISTA DE CAMISAS */

main{
    width: 100%;
    margin: 80px auto;
    gap: 24px;
    display: grid;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 30px;
}

li img{
    width: 60vh;
}

li h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-top: 50px;
}

li p{
    text-align: center;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


/* BOTÃO COMPRAR */

.botao {
	background: linear-gradient(90deg, rgb(0, 228, 197) 30%, rgba(11,142,167,1) 98%);
	border-radius:28px;
	border:1px solid #000000;
    justify-content: center;
	display:flex;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.botao:active {
	position:relative;
	top:3px;
}

li h5{
    display: flex;
    font-family: 'Roboto', sans-serif;

}

/* CAMISAS */

.camisas .lista_camisas{
    flex-wrap: wrap;
    gap: 10px;
    display:flex;
    align-items: left;
    justify-content:flex-start;
    text-align: left;
    padding: 0;
}

 .tamanho {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display: flex;
	cursor: pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.tamanho:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.tamanho:active{
	position:relative;
	top:1px;
}

.tamanho:focus{
    color: #fff;
    font-weight: 100;
    background:linear-gradient(to bottom, #666666 5%, #666666 100%);
}

.lista_camisas img{
    width: 25px;
    display: flex;
    position: absolute;
    margin: 40px 0;
    padding: 15px 0;
}

.lista_camisas p{
    font-size: 12px;
    display: flex;
    position: absolute;
    margin: 61px 30px;

}

.lista_camisas .garantia_icone{
    margin: 40px 110px;
    display: flex;
    position: absolute;
}

.lista_camisas .garantia{
    font-size: 12px;
    display: flex;
    position: absolute;
    margin: 61px 140px;
}

    /* RODAPÉ */

footer{
    background-color:aliceblue;
    opacity: 0.9;
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 120px;
}

footer ul{
    display: flex;
}

footer li{
    margin-left: 50px;
    list-style: none;
}

footer li a{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

footer p{
    font-family: 'Roboto', sans-serif;
}
